header{
    width: 100%;
    background: rgb(253, 253, 253);
    height:50px;
    border-radius: 10px;
    box-shadow: 4px 13px 37px black;
}

.ancho{
    width: 80%;
    height: 50px;
    margin: 0px auto;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.logo{
    width: 30%;
    height:50px;
    float: left;
}

.logo p a{
    color: rgb(0, 0, 0);
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 40px;
    text-decoration: none;
    line-height:10px;
    padding:0px;
    box-sizing: border-box;
}

nav{
    width: 70%;
    height: 50px;
    float: left;
    background:white;
    text-align: right;
    padding-top: 0px;
    box-sizing: border-box;
}

nav ul li{
    display: inline;
}

nav ul li a{
    color: black;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
}

nav ul li a:hover{
    color:rgb(192, 190, 190);
}

body{
    background-image:url("img/fond3.jpg");
    font-family: sans-serif;
    width: 1000px;
    margin:0px auto;
    padding: 120px;
    /*background-repeat: no-repeat;*/
}

.principal{
    width: 100%;
    height:525px;
    background
}

.container{
    border-radius: 5px;
    width: 49%;
    height: 520px;
    box-shadow: 4px 13px 37px rgb(0, 0, 0);
    background-color:rgb(255, 253, 253);
    float:left;
    padding: 20px;
    box-sizing: border-box;
}

aside{
    background:white;
    border-radius: 10px;
    height: 520px;
    width:49%;
    padding: 10px;
    box-shadow: 4px 13px 37px rgb(0, 0, 0);
    box-sizing: border-box;
    float: right;
}