@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,400;1,700&display=swap');

*{
    margin: 0px;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.menu_logo{
    text-decoration: none;
    font-size: 35px;
    color: #fff;
}

.menu{
    background-color: #1A202C;
    color: #ffff;
    height: 70px;
}

.menu_container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width:90%;
    max-width: 1050px;
    height: 100%;
    margin: 0 auto;
}

.menu_links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu_item{
    list-style: none;
    font-size: 20px;
    position: relative;
    height: 100%;
    
    --clip:polygon(0 0, 100% 0, 99% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu_item:hover{
    --clip:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    --transform: rotate(0deg);
}

.menu_nesting{
    clip-path: var(--clip);
    list-style: none;
    transition: clip-path .3s;
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background:rgb(0, 0, 0);
}

.menu_link{
    color:#ffff;
    text-decoration: none;
    padding:0px 30px;
    display: flex;
    height: 100%;
    align-items: center; 
}

.menu_link:hover{
    background-color: #6c7ea3;
}

.menu_arrow{
    transform: var(--transform);
    transition: transform 0.3s;
    display: block;
    margin-left: 3px;
}

.menu_link--inside{
    padding:30px 100px 30px 20px;
}

.menu_link--inside:hover{
    background-color: #798499;
}

.menu_hamburger{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu_img{
    display:block;
    width:36px;
}

body{
    width: 1505px;
    margin:0px auto;
    padding: 0px;
}



/*
* Contenedor principal
*/

.contenedor_principal{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 85%;
    height:800px;
    margin:0px auto;
    box-sizing: border-box;
    /*border: 10px solid red;*/
}

.titulo{
    text-align: center;
    font-size: 100px;
}

.Titulo_texto{
    padding:30px;
    text-align: center;
    font-size: 30px;
}

.texto, .texto2{
    font-size: 20px;
    padding: 10px;
}

.contenedor_imagen{
    margin:0px auto;
    padding-left: 220px;
    width: 100%;
    height: 540px;
    /*border: 10px solid red;*/
    box-sizing: border-box;
}

.contenedor_imagen img{
    height: 450px;
    border-radius: 10px;
    box-sizing: border-box;
}

/*
* LISTADO INDEX DISEÑOS
*/

.contenedor_principal {
    padding:50px;
    /*border: 10px solid red;*/
}

.contenedor_principal #listado table{
    box-shadow: 2px 3px 4px rgb(192, 190, 190);
    background:white;
    text-align: center;
    border-collapse: collapse;
    margin: 0px auto;
}

.contenedor_principal #listado th,td{
    padding:20px;
}

.contenedor_principal #listado thead{
    background:#0066ff;
    border-bottom: solid 5px #040274;
    color: white;
}

.contenedor_principal .buton_item{
    width: 640px;
    padding: 20px 0px 0px 0px;
    padding-left: 250px;
    display: flex;
    margin: 0px auto;
}

.contenedor_principal .buton_item #nuevoRegistro{
    box-shadow: 1px 2px 3px rgb(192, 190, 190) ;
    height: 40px;
    width: 100px;
}

button{
    border: 0px;
    height: 30px;
    box-shadow: 1px 2px 3px rgb(192, 190, 190) ;
}

button:hover{
    background:rgb(192, 190, 190);
    transition: hover 0.10s;
}

#nuevoRegistro:hover{
    background:rgb(192, 190, 190);
    transition: hover 0.10s;
}

/*
* Nuevo registro
*/

#Content{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 4px 5px 6px rgb(192, 190, 190);
    padding: 30px;
    width: 400px;
}

#Content h4{
    font-size: 22px;
    margin-bottom: 20px;
}

#Content .entradasT{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 2px solid #798499;
}

#Content .entradasT:hover{
    border: 2px solid #000000;
}

#Content button{
    padding: 12px;
    margin: 16px 0;
}

#Content #perfil #botones{
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    width: 400px;
}

.txt{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.pie_pagina{
    width: 100%;
    height:10%;
    padding: 100px;
    margin: 0px auto;
    text-align: center;
}
