/*nav ul li{
    font-family: sans-serif;
    float: left;
    list-style: none;
    width: 100px;
    line-height: 45px;
}

nav{
    background-color:rgb(255, 253, 253);
    width: 99%;
    height: 45px;
    border-radius: 10px;
    box-shadow: 4px 13px 37px rgb(0, 0, 0);
    margin: 0px auto;
}*/

header{
    width: 100%;
    background: rgb(253, 253, 253);
    height:50px;
    border-radius: 10px;
    box-shadow: 4px 13px 37px black;
}

.ancho{
    width: 80%;
    height: 50px;
    margin: 0px auto;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.logo{
    width: 30%;
    height:50px;
    float: left;
}

.logo p a{
    color: rgb(0, 0, 0);
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 40px;
    text-decoration: none;
    line-height:10px;
    padding:0px;
    box-sizing: border-box;
}

nav{
    width: 70%;
    height: 50px;
    float: left;
    background:white;
    text-align: right;
    padding-top: 0px;
    /*box-sizing: border-box;*/
}

nav ul li{
    /*display: inline;*/
    float: right;
    list-style: none;
    --cli: polygon(0 0, 100% 0, 100% 0, 0 0);
}

nav ul li a{
    color: black;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding-left: 20px;
}

nav ul li a:hover{
    color:rgb(192, 190, 190);
}

nav #desple {
    background:rgb(255, 255, 255);
    border-radius: 10px;
    clip-path: var(--cli);
}

nav #desple li{
    background:rgb(255, 255, 255);
    float:none;
    padding:20px;
    padding-left: 0;
    border-radius: 10px;
}

nav ul li:hover{
    --cli: clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

nav #desple a{
    color:rgb(0, 0, 0);
}

body{
    background-image:url("img/fond3.jpg");
    font-family: sans-serif;
    width: 1000px;
    margin:0px auto;
    padding: 120px;
    /*background-repeat: no-repeat;*/
}

.container{
    border-radius: 5px;
    width:calc(50%);
    height:500px;
    box-shadow: 4px 13px 37px rgb(0, 0, 0);
    background-color:rgb(255, 253, 253);
    float:left;
    padding: 10px;
}

.container h2{
    text-align: center;
}

#parrafo{
    margin: 10px auto;
}

/*.text-md-center{
    color: #424242;
    font: 500 28px/32px "Google Sans",sans-serif;
    text-align: center;
    line-height: 2;
    font-size: 40px;
}*/

/*header{
    background:  #174ea6;
    border-radius: 10px;
    height: 100px;
    width: 100%;
}*/

.clearfix{
    clear:both;
}

footer{
    margin: 0px auto;
    text-align: center;
}

aside{
    background-image:url("img/cabaña.jpg");
    border-radius: 10px;
    height: 520px;
}