@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,400;1,700&display=swap');

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

.menu{
    background-color: #1A202C;
    color: #ffff;
    height: 70px;
}

.menu_container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width:90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu_links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu_item{
    list-style: none;
    position: relative;
    height: 100%;
    
    --clip:polygon(0 0, 100% 0, 99% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu_item:hover{
    --clip:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    --transform: rotate(0deg);
}

.menu_nesting{
    clip-path: var(--clip);
    list-style: none;
    transition: clip-path .3s;
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background:rgb(0, 0, 0);
}

.menu_link{
    color:#ffff;
    text-decoration: none;
    padding:0px 30px;
    display: flex;
    height: 100%;
    align-items: center; 
}

.menu_link:hover{
    background-color: #6c7ea3;
}

.menu_arrow{
    transform: var(--transform);
    transition: transform 0.3s;
    display: block;
    margin-left: 3px;
}

.menu_link--inside{
    padding:30px 100px 30px 20px;
}

.menu_link--inside:hover{
    background-color: #798499;
}

.menu_hamburger{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu_img{
    display:block;
    width:36px;
}

@media(max-width:800px){
    .menu_hamburger{
        display:flex;
    }

    .menu_item{
        --clip:0;
    }

    .menu_links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top:70px;
        bottom: 0;
        right: 0;
        background-color: rgb(0, 0, 0);
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
    }
    .menu_link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu_arrow{
        margin-left: auto;
        margin-right: 20px;
    }
    
    .menu_nesting{
        display:grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
    }

    .menu_link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}